{
  "rewrites": [
    {
      "source": "/:path",
      "destination": "/index.html"
    },
    {
      "source": "/ncmapi/:apiurl*",
      "destination": "https://music-api.example.com/:apiurl*"
    },
    {
      "source": "/unblock/:match*",
      "destination": "https://unm-server.example.com/:match*"
    }
  ],
  "headers": [
    {
      "source": "/(.*)",  
      "headers": [
        {
          "key": "Access-Control-Allow-Origin",
          "value": "*"  
        },
        {
          "key": "Access-Control-Allow-Methods",
          "value": "GET, POST, OPTIONS" 
        },
        {
          "key": "Access-Control-Allow-Headers",
          "value": "*"  
        },
        {
          "key": "Access-Control-Allow-Credentials",
          "value": "true"
        }
      ]
    },
    {
      "source": "/unblock/(.*)",
      "headers": [
        {
          "key": "Access-Control-Allow-Origin",
          "value": "*"
        },
        {
          "key": "Access-Control-Allow-Methods",
          "value": "GET, POST, OPTIONS"
        },
        {
          "key": "Access-Control-Allow-Headers",
          "value": "*"
        },
        {
          "key": "Access-Control-Allow-Credentials",
          "value": "true"
        }
      ]
    },
    {
      "source": "/ncmapi/(.*)",
      "headers": [
        {
          "key": "Access-Control-Allow-Origin",
          "value": "*"
        },
        {
          "key": "Access-Control-Allow-Methods",
          "value": "GET, POST, OPTIONS"
        },
        {
          "key": "Access-Control-Allow-Headers",
          "value": "*"
        },
        {
          "key": "Access-Control-Allow-Credentials",
          "value": "true"
        }
      ]
    }
  ]
}
