:root {
  --main-font-family: "HarmonyOS Sans", "HarmonyOS_Regular", system-ui, -apple-system, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none !important;
  -webkit-user-drag: none !important;
}

html,
body,
#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: var(--main-font-family) !important;
  background-color: #ffffff; /* 默认背景色，可根据需求修改 */
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.n-result {
  min-height: calc(100vh - 178px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.n-popover {
  top: 20px !important;
}